<div class="container-fluid">
  <h2 class="text-center">Stathammer 40K</h2>
  <canvas #canvas></canvas>
  <form #form>
    <div class="card mt-2">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-floating">
              <input type="number" class="form-control" required min="1" name="simcount" [(ngModel)]="options.simcount"
                (ngModelChange)="onOptionsChange()">
              <label>Number of simulations</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" [(ngModel)]="options.xaxis" name="xaxis" (ngModelChange)="onOptionsChange()">
                <option value="0">Minimum damage</option>
                <option value="1">Damage</option>
              </select>
              <label>X-axis</label>
            </div>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="onWeaponAddClick()">Add weapon</button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary" [disabled]="!weapons.length" (click)="onCalculateClick()">
              <span class="spinner-border spinner-border-sm" *ngIf="loading; else text"></span>
              <ng-template #text>Calculate</ng-template>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header">
        <h5 class="card-title">Target</h5>
      </div>
      <div class="card-body">
        <div class="row gy-2">
          <div class="col-6 col-sm-4 col-lg-3">
            <div class="form-floating">
              <input type="number" class="form-control" required min="1" name="toughness" [(ngModel)]="target.toughness"
                (ngModelChange)="onTargetChange()">
              <label>Toughness</label>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-3">
            <div class="form-floating">
              <select class="form-select" name="armorsave" [(ngModel)]="target.armorsave"
                (ngModelChange)="onTargetChange()">
                <option value="0">-</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
                <option value="6">6+</option>
              </select>
              <label>Armor save</label>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-3">
            <div class="form-floating">
              <select class="form-select" name="invulsave" [(ngModel)]="target.invulsave"
                (ngModelChange)="onTargetChange()">
                <option value="0">-</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
                <option value="6">6+</option>
              </select>
              <label>Invulnerable save</label>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-3">
            <div class="form-floating">
              <select class="form-select" name="fnp" [(ngModel)]="target.fnp" (ngModelChange)="onTargetChange()">
                <option value="0">-</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
                <option value="6">6+</option>
              </select>
              <label>Feel no pain</label>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-6">
            <div class="form-floating">
              <select class="form-select" name="hitrollmod" [(ngModel)]="target.hitrollmod"
                (ngModelChange)="onTargetChange()">
                <option value="0">-</option>
                <option value="1">+1</option>
                <option value="-1">-1</option>
              </select>
              <label>Hit roll modifier</label>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-6">
            <div class="form-floating">
              <select class="form-select" name="woundrollmod" [(ngModel)]="target.woundrollmod"
                (ngModelChange)="onTargetChange()">
                <option value="0">-</option>
                <option value="1">+1</option>
                <option value="-1">-1</option>
              </select>
              <label>Wound roll modifier</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-container *ngFor="let weapon of weapons; let index = index; trackBy: trackByWeapon">
    <form #form *ngIf="'modal'+index as modalid">
      <div [id]="modalid" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Weapon {{index+1}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                <div class="form-floating">
                  <input type="text" class="form-control" name="name" [(ngModel)]="weapon.name"
                    (ngModelChange)="onWeaponChange()">
                  <label>Name</label>
                </div>
              </div>
              <div class="mt-1">
                <div class="form-floating">
                  <select class="form-select" name="color" [(ngModel)]="weapon.color"
                    (ngModelChange)="onWeaponChange()">
                    <option *ngFor="let color of colors" class="color" [style.backgroundColor]="color" [value]="color">
                      {{color}}
                    </option>
                  </select>
                  <label>Color</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h5 class="card-title">
                {{weapon.name || 'Weapon '+(index+1)}} <span [style.color]="weapon.color">&#9644;</span>
              </h5>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-sm" title="Rename" data-bs-toggle="modal"
                [attr.data-bs-target]="'#'+modalid">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-card-text" viewBox="0 0 16 16">
                  <path
                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                  <path
                    d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                </svg>
              </button>
              <button type="button" class="btn btn-sm" title="Delete" (click)="onWeaponRemoveClick(index)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row gy-2">
            <div class="col-6 col-sm-4 col-lg-3">
              <div class="form-floating">
                <input type="text" class="form-control" required name="attacks" [(ngModel)]="weapon.attacks"
                  (ngModelChange)="onWeaponChange()">
                <label>Attacks</label>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
              <div class="form-floating">
                <select class="form-select" name="tohit" [(ngModel)]="weapon.tohit" (ngModelChange)="onWeaponChange()">
                  <option value="0">-</option>
                  <option value="1">Auto-hit</option>
                  <option value="2">2+</option>
                  <option value="3">3+</option>
                  <option value="4">4+</option>
                  <option value="5">5+</option>
                  <option value="6">6+</option>
                </select>
                <label>To hit</label>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
              <div class="form-floating">
                <input type="number" class="form-control" required min="1" name="strength" [(ngModel)]="weapon.strength"
                  (ngModelChange)="onWeaponChange()">
                <label>Strength</label>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
              <div class="form-floating">
                <input type="number" class="form-control" name="ap" [(ngModel)]="weapon.ap"
                  (ngModelChange)="onWeaponChange()">
                <label>AP</label>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
              <div class="form-floating">
                <input type="text" class="form-control" required name="damage" [(ngModel)]="weapon.damage"
                  (ngModelChange)="onWeaponChange()">
                <label>Damage</label>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
              <div class="form-floating">
                <select class="form-select" name="hitrollmod" [(ngModel)]="weapon.hitrollmod"
                  (ngModelChange)="onWeaponChange()">
                  <option value="0">-</option>
                  <option value="1">+1</option>
                  <option value="-1">-1</option>
                </select>
                <label>Hit roll modifier</label>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
              <div class="form-floating">
                <select class="form-select" name="woundrollmod" [(ngModel)]="weapon.woundrollmod"
                  (ngModelChange)="onWeaponChange()">
                  <option value="0">-</option>
                  <option value="1">+1</option>
                  <option value="-1">-1</option>
                </select>
                <label>Wound roll modifier</label>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-6">
              <div class="input-group flex-nowrap">
                <input type="number" class="form-control" min="1" name="onhit6additionalhits"
                  [(ngModel)]="weapon.onhit6additionalhits" (ngModelChange)="onWeaponChange()">
                <span class="input-group-text">additional hits on unmodified 6 to hit</span>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-6">
              <div class="input-group flex-nowrap">
                <input type="number" class="form-control" min="1" name="onwound6mortalwounds"
                  [(ngModel)]="weapon.onwound6mortalwounds" (ngModelChange)="onWeaponChange()">
                <span class="input-group-text">mortal wounds on unmodified 6 to wound</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body border-top" *ngIf="results | getResult: weapon.uuid as result">
          <div class="row">
            <div class="col">
              <div class="input-group flex-nowrap">
                <span class="input-group-text">Average</span>
                <input type="text" class="form-control" readonly [value]="result.mean | number">
              </div>
            </div>
            <div class="col">
              <div class="input-group flex-nowrap">
                <span class="input-group-text">Standard deviation</span>
                <input type="text" class="form-control" readonly [value]="result.stddev | number">
              </div>
            </div>
            <div class="col">
              <div class="input-group flex-nowrap">
                <span class="input-group-text">Median</span>
                <input type="text" class="form-control" readonly [value]="result.median | number">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>